---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Acerca de";

const identity = {
  firstName: "Gramaphenia",
  country: "Argentina",
  occupation: "Escritores técnicos",
  hobbies: [
    "Generación de datos e imagenes",
    "Creaciones Musicales",
    "Estudio de los programas de creación de videojuegos y modelado 3D",
  ],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "C#",
  "GDSCRIPT",
  "C++",
  "React",
  "Astro",
  "Blender",
  "Godot",
  "Unity",
  "UE5",
  "Documentación",
];

const generaltitle = [
  "La necesidad de un HTML",
  "La necesidad de un CSS",
  "La necesidad de un JS",
  "La necesidad de un C#",
  "La necesidad de un GDSCRIPT",
  "La necesidad de un C++",
  "La necesidad de un React",
  "La necesidad de un Astro",
  "La necesidad de un Blender",
  "La necesidad de un Godot",
  "La necesidad de un Unity",
  "La necesidad de un UE5",
  "La necesidad de un Documentación",
];
---

<Layout title={`${pageTitle} nosotros`}>
  <body>
    <h1>Nosotros</h1>
    <h2>... ¡Gramaphenicos!</h2>

    <p>
      El diseño 3D es una disciplina creativa y técnica que se ha convertido en
      una parte integral de diversas industrias, desde la animación y los
      videojuegos hasta la arquitectura y la medicina. Esta técnica permite la
      creación de objetos y escenas tridimensionales en un entorno virtual, lo
      que abre un mundo de posibilidades para la expresión artística y la
      resolución de problemas.
    </p>

    <p>
      En el corazón del diseño 3D se encuentra el software especializado, que
      permite a los diseñadores modelar, texturizar y animar objetos y entornos
      en tres dimensiones. Uno de los programas más populares en este ámbito es
      Blender, una herramienta de código abierto que ha ganado reconocimiento
      por su versatilidad y comunidad de usuarios activa. Otras soluciones
      incluyen Autodesk Maya y Cinema 4D, que son ampliamente utilizadas en la
      industria del cine y la publicidad.
    </p>

    <p>He aquí algunos datos sobre nosotros:</p>
    <ul class="custom-li-about">
      <li class="custom-li-about">
        Nombramos "Gramapehia" nuestro hacer de diversas maneras, como en
        tramas.{identity.firstName}.
      </li>
      <li>
        Vivimos en {identity.country} y trabajamos como {identity.occupation}.
      </li>
      <br />
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de nuestras aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[2]}
          </li>
        )
      }
    </ul>
    <p class="paragraph">Nuestros estudios versan sobre:</p>
    <summary class="custom-list-about">Informacion</summary>
     Seccion dedicada a comentarios acerca de:
    {
      skills.map((skill, index) => (
        <summary>
          <h2>{skill}</h2>
          <details class="custom-list-about">
            <div>
              <h3>{generaltitle[index]}</h3>
              <p>
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
                Este es un párrafo para demostrar que es un párrafo de prueba.
              </p>
            </div>
          </details>
        </summary>
      ))
    }
  </body>
</Layout>

<style>
  .paragraph {
    font-size: 30px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 800;
  }

  summary {
    font-weight: lighter;
    margin: -0.5em -0.5em 0;
    padding: 1em;
    margin: 1em;
  }

  details[open] summary {
    padding: 0.5em;
    transition: all;
    transition: ease-in-out;
    margin-bottom: 1em;
  }

  details[open] {
    border-bottom: 2px solid #fb923c;
    margin-bottom: 1em;
  }
</style>
